<script setup lang="ts">
defineProps<{
  count: number
}>()
</script>

<template>
  <h3
    class="flex items-center justify-between bg-zinc-900 font-mono font-bold uppercase leading-6 text-2xl p-5 min-h-20">
    <slot />
    <small
      class="p-5 -my-5 -mr-5 text-right relative text-nowrap md:bg-zinc-600 md:w-48 md:h-20 leading-10
             before:absolute before:-left-3 md:before:bg-zinc-600 before:top-0 before:bottom-0 before:w-6 before:-skew-x-12">
      Max {{ count === 1 ? '1 choice' : `${count} choices` }}
    </small>
  </h3>
</template>