<script setup lang="ts">
import { computed } from 'vue'

const props = defineProps<{
  name: string,
  index: number,
  type: 'checkbox' | 'radio',
  max?: number,
  selection?: boolean[]
}>()
const model = defineModel()
const id = computed(() => `${props.name}_${props.index}`)
const disabled = computed(() => {
  if (props.type !== 'checkbox') return false
  if (props.selection?.length && props.selection.filter(Boolean).length >= (props.max || Infinity) && !props.selection[props.index]) return true
  return false
})
</script>

<template>
  <label :id="id"
    class="grid place-items-center flex-grow min-w-fit w-full md:w-[48%] 2xl:w-[31%] font-mono uppercase text-lg p-0.5 relative
           after:content-['_'] after:absolute after:pointer-events-none after:inset-0 after:w-full after:h-full after:border-zinc-200 has-[:checked]:after:border">
    <input :type="type" class="hidden peer" v-model="model" :value="index + 1" :disabled="disabled" />
    <span
      class="text-center w-full h-full min-h-16 px-4 grid place-items-center leading-5 border-2 peer-checked:border-zinc-200 break-words"
      :class="{ 'border-zinc-400/50 hover:border-zinc-200 cursor-pointer': !disabled, 'border-zinc-600/50 cursor-default': disabled }">
      <slot />
    </span>
  </label>
</template>
