<script setup lang="ts">
import { computed, onMounted, ref } from 'vue'
import Sqids from 'sqids'
import ChoiceButton from './ChoiceButton.vue'
import ChoiceTitle from './ChoiceTitle.vue'
import { Buffer } from 'buffer'

const sqids = new Sqids()

const choices = ref<Record<string, boolean[] | number>>({
  interact: 0,
  death: [],
  key: 0,
  boss: [],
  raid_boss: [],
  raid_exo: 0,
  dest: [],
  plot: [],
  activity: []
})
const serializableChoices = computed(() => choicesToNumbers(choices.value))
const hasChoices = computed(() => !!serializableChoices.value.reduce((a, x) => a + x.value, 0))
const serializedChoices = computed(() => hasChoices.value ? sqids.encode(serializableChoices.value.map(x => x.value)) : '')

const outDate = new Date(2024, 5, 4, 13, 0, 0)
const timeUntil = ref<string>()
const shareLink = computed(() => {
  const text = hasChoices.value
    ? `Here's my prediction for Destiny 2: The Final Shape!`
    : `Predict with me what Destiny 2: The Final Shape will be like!`
  const url = hasChoices.value
    ? `${location.origin}${location.pathname}?${serializedChoices.value}`
    : `${location.origin}${location.pathname}`
  return `https://x.com/intent/tweet?text=${text.replace(/\s/, '%20')}&url=${url}`
})
const auth = ref(localStorage.getItem('auth') ? (JSON.parse(localStorage.getItem('auth')!) as { access_token: string }) : null)
const profile = ref()
const someoneElsesChoices = ref()
const saveStateText = ref("Saved")

function reset() {
  choices.value = {
    interact: 0,
    death: [],
    key: 0,
    boss: [],
    raid_boss: [],
    raid_exo: 0,
    dest: [],
    plot: [],
    activity: []
  }
  history.replaceState({}, '', '/')
}

function resetToLocal() {
  const localState = localStorage.getItem('tfs')

  if (!localState) {
    reset()
    return
  }

  const decodedState = sqids.decode(localState)
  const newChoices = numbersToChoices(decodedState)
  history.replaceState({}, '', `/?${localState}`)
  choices.value = newChoices
  someoneElsesChoices.value = false
}

function choicesToNumbers(choices: Record<string, boolean[] | number>) {
  return Object.entries(choices).map(([name, value]) => ({ name, value: Array.isArray(value) ? value.reduce((a, x, i) => a + (+x << i), 0) : value }))
}

function numberToBooleans(number: number) {
  return number.toString(2).split('').reverse().map(char => char === '1')
}

function numbersToChoices(numbers: number[]) {
  return {
    interact: numbers[0],
    death: numberToBooleans(numbers[1]),
    key: numbers[2],
    boss: numberToBooleans(numbers[3]),
    raid_boss: numberToBooleans(numbers[4]),
    raid_exo: numbers[5],
    dest: numberToBooleans(numbers[6]),
    plot: numberToBooleans(numbers[7]),
    activity: numberToBooleans(numbers[8])
  }
}

function debounce(fn: (args?: unknown | undefined) => void, delay: number) {
  let timer: number

  const debouncedFn = (args?: unknown | undefined): Promise<void> => new Promise((resolve) => {
    if (timer) clearTimeout(timer)

    timer = setTimeout(() => {
      resolve(fn(args))
    }, delay)
  })

  return debouncedFn
}

function updateChoices() {
  if (!someoneElsesChoices.value) {
    if (serializedChoices.value && serializableChoices.value.every(x => x.value > 0)) {
      localStorage.setItem('tfs', serializedChoices.value)
      history.replaceState({}, '', `/?${serializedChoices.value}`)

      // if (auth.value && profile.value?.Response.uniqueName) {
      //   saveStateText.value = "Saving..."
      //   fetch(import.meta.env.VITE_API_URL, {
      //     method: 'POST',
      //     headers: {
      //       'x-auth-key': '6du45754c56v7r68thiu8676eywe7y'
      //     },
      //     body: JSON.stringify({
      //       accessToken: auth.value.access_token,
      //       predictions: serializedChoices.value
      //     })
      //   }).then(res => {
      //     if (res.ok) {
      //       saveStateText.value = "Saved"
      //     } else {
      //       saveStateText.value = `Error while saving 🙁, try logging out and in again. (${res.status})`
      //     }
      //   }).catch(err => {
      //     saveStateText.value = `Error while saving 🙁, try logging out and in again. (${err})`
      //   })
      // }
    } else {
      localStorage.removeItem('tfs')
      history.replaceState({}, '', '/')
    }
  }
}

function logout() {
  auth.value = null
  profile.value = undefined
  localStorage.removeItem('auth')
}

const updateChoicesDbnc = debounce(updateChoices, 500)

setInterval(() => {
  const now = new Date()
  const difference = Math.floor((outDate.getTime() - now.getTime()) / 1000)
  if (difference <= 0) return 'now!'

  const days = Math.floor(difference / (60 * 60 * 24))
  const hours = (Math.floor(difference / (60 * 60)) % 24).toString().padStart(2, '0')
  const minutes = (Math.floor(difference / 60) % 60).toString().padStart(2, '0')
  const seconds = (difference % 60).toString().padStart(2, '0')
  timeUntil.value = `in ${days} ${days === 1 ? 'day' : 'days'}, ${hours}:${minutes}:${seconds}`
}, 333)

onMounted(() => {
  const localState = localStorage.getItem('tfs')
  const urlState = location.search?.replace('?', '')

  if (auth.value?.access_token) {
    fetch('https://www.bungie.net/Platform/User/GetCurrentBungieNetUser/', {
      headers: {
        'authorization': `Bearer ${auth.value.access_token}`,
        'x-api-key': 'ab65a78a261b48339da0c6c367c397e4'
      }
    }).then(x => x.json()).then(result => {
      profile.value = result

      if (!profile.value.Response.membershipId) return

      fetch(`${import.meta.env.VITE_API_URL}/${profile.value.Response.membershipId}`)
        .then(x => x.text()).then(dResult => {
          if (!dResult || dResult === localState) return

          const decodedState = sqids.decode(dResult)
          const newChoices = numbersToChoices(decodedState)
          localStorage.setItem('tfs', dResult)

          if (someoneElsesChoices.value) return

          history.replaceState({}, '', `/?${dResult}`)
          choices.value = newChoices
        })
    }).catch(() => {
      logout()
    })
  }

  if (urlState) {
    try {
      const jsonData = JSON.parse(Buffer.from(location.search.replace('?', ''), 'base64').toString('utf8'))
      if (jsonData.version) location.replace(`https://predict19.wastedondestiny.com${location.search}`)
    } catch (_) { _ }

    const decodedState = sqids.decode(urlState)
    const newChoices = numbersToChoices(decodedState)
    choices.value = newChoices

    if (localState && localState !== urlState || profile.value) {
      someoneElsesChoices.value = true
    }

    return
  }

  if (localState) {
    const decodedState = sqids.decode(localState)
    const newChoices = numbersToChoices(decodedState)
    history.replaceState({}, '', `/?${localState}`)
    choices.value = newChoices
    return
  }

  // No state found
})
</script>

<template>
  <div v-if="someoneElsesChoices"
    class="container shadow-lg shadow-black z-10 self-center w-full fixed top-2 font-mono bg-gradient-to-r from-blue-400 to-red-500">
    <button
      class="m-1 p-4 w-[calc(100%-8px)] calc text-center font-semibold bg-zinc-800 hover:border-zinc-200 cursor-pointer"
      @click="resetToLocal">
      YOU ARE VIEWING SOMEONE ELSE'S CHOICES, CLICK HERE TO RETURN TO YOURS
    </button>
  </div>
  <div
    class="transition-transform border-solid min-w-24 border-green-700 border-2 px-3 py-2 bg-green-800 rounded z-10 fixed md:right-8 bottom-2 font-mono"
    :class="{ 'translate-y-[200%]': saveStateText == 'Saved', 'border-red-700 bg-red-800': saveStateText != 'Saving...' && saveStateText != 'Saved' }">
    <p class="font-semibold" :class="{ 'animate-pulse': saveStateText == 'Saving...' }">{{ saveStateText }}</p>
  </div>
  <header class="flex flex-col xl:flex-row justify-between items-stretch xl:items-center container mx-auto"
    :class="{ 'pt-12': someoneElsesChoices }">
    <div class="order-2 xl:order-1 flex flex-col bg-zinc-950/50 w-full xl:w-96 xl:h-64 font-mono p-2">
      <p class="mb-3">Predict the next expansion and episodic content!</p>
      <p class="mb-3">Don't forget to login with bungie.net to save your answers and register into the leaderboard!
        Your answers will be saved once every question has at least one answer.</p>
      <div class="mb-3 p-4 h-16 w-full text-center border-2 border-zinc-400/50 relative"
        v-if="auth && profile?.Response?.uniqueName">
        <span>{{ profile.Response.uniqueName }}</span>
        <button @click="logout"
          class="w-8 h-8 bg-zinc-600/50 hover:bg-zinc-400/50 absolute top-0 right-0 text-center -mt-0.5 -mr-0.5 flex items-center justify-center pb-2 text-3xl">&times;</button>
      </div>
      <a class="mb-3 p-4 h-16 w-full text-center border-2 border-zinc-400/50 hover:border-zinc-200 cursor-pointer"
        href="https://www.bungie.net/en/OAuth/Authorize?client_id=41000&response_type=code" v-else>LOGIN WITH
        BUNGIE.NET</a>
      <p class="text-sm w-full text-center text-zinc-300">Destiny 2: The Final Shape is out {{ timeUntil }}</p>
    </div>
    <div class="order-1 xl:order-2 flex justify-center">
      <h1 class="hidden">Destiny 2 The Final Shape <small>Predictions</small></h1>
      <div
        class="bg-[url(@/assets/radial.png)] bg-contain bg-no-repeat w-64 h-64 md:w-96 md:h-96 flex flex-col justify-center items-center gap-4">
        <img src="@/assets/title.svg" class="p-4" />
        <h2 class="font-mono text-2xl md:text-4xl font-bold">PREDICTIONS</h2>
      </div>
    </div>
    <div class="order-3 flex flex-col justify-between bg-zinc-950/50 w-full xl:w-96 xl:h-64 font-mono p-2 gap-3">
      <h3 class="font-mono text-2xl font-bold w-full text-center">SCORE</h3>
      <span class="font-mono text-4xl font-bold w-full text-center border-b-2 border-zinc-400">0 / ???</span>
      <p class="mb-3 text-center">You get 10 points for every good answer, and lose
        5 points for every bad answer.</p>
      <div class="flex gap-2">
        <a class="p-4 w-full text-center border-2 border-zinc-400/50 hover:border-zinc-200 cursor-pointer"
          :href="shareLink" target="_blank">SHARE</a>
        <button class="p-4 w-full text-center border-2 border-zinc-400/50 hover:border-zinc-200 cursor-pointer"
          @click="reset">RESET</button>
      </div>
    </div>
  </header>
  <main class="container mx-auto mt-10 flex flex-col gap-8">
    <div class="flex flex-col shadow-lg shadow-zinc-950">
      <ChoiceTitle :count="1">What/who will speak to us?</ChoiceTitle>
      <div class="flex flex-wrap items-stretch bg-zinc-950 gap-2 pt-2 px-2">
        <ChoiceButton @change="updateChoicesDbnc" name="interact" :index="0" type="radio" v-model="choices['interact']">
          The
          Gardener
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="interact" :index="1" type="radio" v-model="choices['interact']">
          The
          Winnower
        </ChoiceButton>
      </div>
      <div class="flex flex-wrap items-stretch bg-zinc-950 gap-2 p-2">
        <ChoiceButton @change="updateChoicesDbnc" name="interact" :index="2" type="radio" v-model="choices['interact']">
          The
          Traveler
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="interact" :index="3" type="radio" v-model="choices['interact']">
          The
          Veil™
        </ChoiceButton>
      </div>
    </div>
    <div class="flex flex-col shadow-lg shadow-zinc-950">
      <ChoiceTitle :count="2">Who will die?</ChoiceTitle>
      <div class="flex flex-wrap justify-stretch bg-zinc-950 gap-2 p-2" v-if="Array.isArray(choices['death'])">
        <ChoiceButton @change="updateChoicesDbnc" name="death" :index="0" type="checkbox" v-model="choices['death'][0]"
          :selection="choices['death']" :max="2">The Guardian
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="death" :index="1" type="checkbox" v-model="choices['death'][1]"
          :selection="choices['death']" :max="2">The Witness
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="death" :index="2" type="checkbox" v-model="choices['death'][2]"
          :selection="choices['death']" :max="2">The Traveler
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="death" :index="3" type="checkbox" v-model="choices['death'][3]"
          :selection="choices['death']" :max="2">Mithrax
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="death" :index="4" type="checkbox" v-model="choices['death'][4]"
          :selection="choices['death']" :max="2">Caiatl
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="death" :index="5" type="checkbox" v-model="choices['death'][5]"
          :selection="choices['death']" :max="2">Savathûn
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="death" :index="6" type="checkbox" v-model="choices['death'][6]"
          :selection="choices['death']" :max="2">Zavala
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="death" :index="7" type="checkbox" v-model="choices['death'][7]"
          :selection="choices['death']" :max="2">Ikora
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="death" :index="8" type="checkbox" v-model="choices['death'][8]"
          :selection="choices['death']" :max="2">Cayde-6
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="death" :index="9" type="checkbox" v-model="choices['death'][9]"
          :selection="choices['death']" :max="2">Eris / Mara
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="death" :index="10" type="checkbox"
          v-model="choices['death'][10]" :selection="choices['death']" :max="2">The Crow
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="death" :index="11" type="checkbox"
          v-model="choices['death'][11]" :selection="choices['death']" :max="2">None of the above
        </ChoiceButton>
      </div>
    </div>
    <div class="flex flex-col shadow-lg shadow-zinc-950">
      <ChoiceTitle :count="1">What is the key to stopping The Witness?</ChoiceTitle>
      <div class="flex flex-wrap justify-stretch bg-zinc-950 gap-2 p-2">
        <ChoiceButton @change="updateChoicesDbnc" name="key" :index="0" type="radio" v-model="choices['key']">Prismatic
          /
          Transcendance
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="key" :index="1" type="radio" v-model="choices['key']">Willpower
          /
          Brute force
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="key" :index="2" type="radio" v-model="choices['key']">Friendship
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="key" :index="3" type="radio" v-model="choices['key']">The
          Traveler
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="key" :index="4" type="radio" v-model="choices['key']">The Veil™
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="key" :index="5" type="radio" v-model="choices['key']">Another
          person
        </ChoiceButton>
      </div>
    </div>
    <div class="flex flex-col shadow-lg shadow-zinc-950">
      <ChoiceTitle :count="2">What are the campaign bosses?</ChoiceTitle>
      <div class="flex flex-wrap bg-zinc-950 gap-2 p-2" v-if="Array.isArray(choices['boss'])">
        <ChoiceButton @change="updateChoicesDbnc" name="boss" :index="0" type="checkbox" v-model="choices['boss'][0]"
          :selection="choices['boss']" :max="2">Witness variants
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="boss" :index="1" type="checkbox" v-model="choices['boss'][1]"
          :selection="choices['boss']" :max="2">The Dread
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="boss" :index="2" type="checkbox" v-model="choices['boss'][2]"
          :selection="choices['boss']" :max="2">The Scorn
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="boss" :index="3" type="checkbox" v-model="choices['boss'][3]"
          :selection="choices['boss']" :max="2">The Witness
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="boss" :index="4" type="checkbox" v-model="choices['boss'][4]"
          :selection="choices['boss']" :max="2">Disciples
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="boss" :index="5" type="checkbox" v-model="choices['boss'][5]"
          :selection="choices['boss']" :max="2">Old bosses
        </ChoiceButton>
      </div>
    </div>
    <div class="flex flex-col shadow-lg shadow-zinc-950">
      <ChoiceTitle :count="2">What are the raid bosses?</ChoiceTitle>
      <div class="flex flex-wrap bg-zinc-950 gap-2 p-2" v-if="Array.isArray(choices['raid_boss'])">
        <ChoiceButton @change="updateChoicesDbnc" name="raid_boss" :index="0" type="checkbox"
          v-model="choices['raid_boss'][0]" :selection="choices['raid_boss']" :max="2">Witness variants
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_boss" :index="1" type="checkbox"
          v-model="choices['raid_boss'][1]" :selection="choices['raid_boss']" :max="2">The Dread
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_boss" :index="2" type="checkbox"
          v-model="choices['raid_boss'][2]" :selection="choices['raid_boss']" :max="2">The Scorn
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_boss" :index="3" type="checkbox"
          v-model="choices['raid_boss'][3]" :selection="choices['raid_boss']" :max="2">The Witness
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_boss" :index="4" type="checkbox"
          v-model="choices['raid_boss'][4]" :selection="choices['raid_boss']" :max="2">Disciples
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_boss" :index="5" type="checkbox"
          v-model="choices['raid_boss'][5]" :selection="choices['raid_boss']" :max="2">Taniks
        </ChoiceButton>
      </div>
    </div>
    <div class="flex flex-col shadow-lg shadow-zinc-950">
      <ChoiceTitle :count="1">What is the raid exotic archetype?</ChoiceTitle>
      <div class="flex flex-wrap bg-zinc-950 gap-2 p-2">
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="0" type="radio" v-model="choices['raid_exo']">
          Fusion Rifle
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="1" type="radio" v-model="choices['raid_exo']">
          Submachine Gun
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="2" type="radio" v-model="choices['raid_exo']">
          Scout Rifle
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="3" type="radio" v-model="choices['raid_exo']">
          Sword
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="4" type="radio" v-model="choices['raid_exo']">
          Combat Bow
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="5" type="radio" v-model="choices['raid_exo']">
          Hand
          Cannon
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="6" type="radio" v-model="choices['raid_exo']">
          Shotgun
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="7" type="radio" v-model="choices['raid_exo']">
          Glaive
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="8" type="radio" v-model="choices['raid_exo']">
          Rocket Launcher
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="9" type="radio" v-model="choices['raid_exo']">
          Grenade Launcher
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="10" type="radio"
          v-model="choices['raid_exo']">
          Trace Rifle
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="11" type="radio"
          v-model="choices['raid_exo']">
          Auto Rifle
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="12" type="radio"
          v-model="choices['raid_exo']">
          Pulse Rifle
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="13" type="radio"
          v-model="choices['raid_exo']">
          Sniper Rifle
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="14" type="radio"
          v-model="choices['raid_exo']">
          Sidearm
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="15" type="radio"
          v-model="choices['raid_exo']">
          Machine Gun
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="16" type="radio"
          v-model="choices['raid_exo']">
          Linear Fusion Rifle
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="raid_exo" :index="17" type="radio"
          v-model="choices['raid_exo']">New
          archetype
        </ChoiceButton>
      </div>
    </div>
    <div class="flex flex-col shadow-lg shadow-zinc-950">
      <ChoiceTitle :count="3">Where does the first episode take place?</ChoiceTitle>
      <div class="flex flex-wrap bg-zinc-950 gap-2 p-2" v-if="Array.isArray(choices['dest'])">
        <ChoiceButton @change="updateChoicesDbnc" name="dest" :index="0" type="checkbox" v-model="choices['dest'][0]"
          :selection="choices['dest']" :max="3">Cosmodrome
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="dest" :index="1" type="checkbox" v-model="choices['dest'][1]"
          :selection="choices['dest']" :max="3">EDZ
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="dest" :index="2" type="checkbox" v-model="choices['dest'][2]"
          :selection="choices['dest']" :max="3">The Moon / The Black Garden
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="dest" :index="3" type="checkbox" v-model="choices['dest'][3]"
          :selection="choices['dest']" :max="3">Nessus
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="dest" :index="4" type="checkbox" v-model="choices['dest'][4]"
          :selection="choices['dest']" :max="3">The Dreaming City
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="dest" :index="5" type="checkbox" v-model="choices['dest'][5]"
          :selection="choices['dest']" :max="3">Europa
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="dest" :index="6" type="checkbox" v-model="choices['dest'][6]"
          :selection="choices['dest']" :max="3">Savathûn's Throne
          World
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="dest" :index="7" type="checkbox" v-model="choices['dest'][7]"
          :selection="choices['dest']" :max="3">Neomuna / Vex Network
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="dest" :index="8" type="checkbox" v-model="choices['dest'][8]"
          :selection="choices['dest']" :max="3">Venus
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="dest" :index="9" type="checkbox" v-model="choices['dest'][9]"
          :selection="choices['dest']" :max="3">Mars / Phobos
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="dest" :index="10" type="checkbox" v-model="choices['dest'][10]"
          :selection="choices['dest']" :max="3">The Pale Heart
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="dest" :index="11" type="checkbox" v-model="choices['dest'][11]"
          :selection="choices['dest']" :max="3">New / reprised destination
        </ChoiceButton>
      </div>
    </div>
    <div class="flex flex-col shadow-lg shadow-zinc-950">
      <ChoiceTitle :count="2">What are the episode's plot points?</ChoiceTitle>
      <div class="flex flex-wrap bg-zinc-950 gap-2 p-2" v-if="Array.isArray(choices['plot'])">
        <ChoiceButton @change="updateChoicesDbnc" name="plot" :index="0" type="checkbox" v-model="choices['plot'][0]"
          :selection="choices['plot']" :max="2">Vex doing Vex things
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="plot" :index="1" type="checkbox" v-model="choices['plot'][1]"
          :selection="choices['plot']" :max="2">Time traveling
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="plot" :index="2" type="checkbox" v-model="choices['plot'][2]"
          :selection="choices['plot']" :max="2">Mindscapes
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="plot" :index="3" type="checkbox" v-model="choices['plot'][3]"
          :selection="choices['plot']" :max="2">Eris uncovers a new threat
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="plot" :index="4" type="checkbox" v-model="choices['plot'][4]"
          :selection="choices['plot']" :max="2">Caiatl engages in a conflict
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="plot" :index="5" type="checkbox" v-model="choices['plot'][5]"
          :selection="choices['plot']" :max="2">The Final Shape fallout
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="plot" :index="6" type="checkbox" v-model="choices['plot'][6]"
          :selection="choices['plot']" :max="2">A key character dies
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="plot" :index="7" type="checkbox" v-model="choices['plot'][7]"
          :selection="choices['plot']" :max="2">The Veil™
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="plot" :index="8" type="checkbox" v-model="choices['plot'][8]"
          :selection="choices['plot']" :max="2">Eido has done research
        </ChoiceButton>
      </div>
    </div>
    <div class="flex flex-col shadow-lg shadow-zinc-950">
      <ChoiceTitle :count="3">What are the episode's main activities?</ChoiceTitle>
      <div class="flex flex-wrap bg-zinc-950 gap-2 p-2" v-if="Array.isArray(choices['activity'])">
        <ChoiceButton @change="updateChoicesDbnc" name="activity" :index="0" type="checkbox"
          v-model="choices['activity'][0]" :selection="choices['activity']" :max="3">Menagerie Style
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="activity" :index="1" type="checkbox"
          v-model="choices['activity'][1]" :selection="choices['activity']" :max="3">Dunk This into That
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="activity" :index="2" type="checkbox"
          v-model="choices['activity'][2]" :selection="choices['activity']" :max="3">Riddles & Puzzles
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="activity" :index="3" type="checkbox"
          v-model="choices['activity'][3]" :selection="choices['activity']" :max="3">Escalation Protocol Style
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="activity" :index="4" type="checkbox"
          v-model="choices['activity'][4]" :selection="choices['activity']" :max="3">Speedrun / Obstacle Course
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="activity" :index="5" type="checkbox"
          v-model="choices['activity'][5]" :selection="choices['activity']" :max="3">Clear / Capture
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="activity" :index="6" type="checkbox"
          v-model="choices['activity'][6]" :selection="choices['activity']" :max="3">Tower Defense
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="activity" :index="7" type="checkbox"
          v-model="choices['activity'][7]" :selection="choices['activity']" :max="3">Deposit Motes
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="activity" :index="8" type="checkbox"
          v-model="choices['activity'][8]" :selection="choices['activity']" :max="3">Charge Artifact</ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="activity" :index="9" type="checkbox"
          v-model="choices['activity'][9]" :selection="choices['activity']" :max="3">Track Down / Boss Rush
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="activity" :index="10" type="checkbox"
          v-model="choices['activity'][10]" :selection="choices['activity']" :max="3">Infiltration / Do Not Get Spotted
        </ChoiceButton>
        <ChoiceButton @change="updateChoicesDbnc" name="activity" :index="11" type="checkbox"
          v-model="choices['activity'][11]" :selection="choices['activity']" :max="3">Explore & Collect
        </ChoiceButton>
      </div>
    </div>
  </main>
</template>
