<script setup lang="ts">
import PredictionsPage from './components/PredictionsPage.vue'

</script>

<template>
  <PredictionsPage />
  <div class="flex-grow"></div>
  <footer class="container mx-auto text-center py-10 leading-8 font-mono">
    <span>Predictions brought to you by </span>
    <a class="bg-clip-text bg-gradient-to-r font-semibold from-red-600 via-orange-500 to-yellow-400 text-transparent hover:text-white/50"
      href="https://x.com/binarmorker" target="_blank">Binarmorker @Binarmorker</a>
    <span> and </span>
    <a class="bg-clip-text bg-gradient-to-r font-semibold from-blue-400 via-green-500 to-indigo-400 text-transparent hover:text-white/50"
      href="https://x.com/richdestinyapp" target="_blank">lieuwe_berg @richdestinyapp</a>
  </footer>
</template>
  